# Chap 1 ---- Print

In [53]:
print('Hello world') #"Hello, World!"—is called a text string or simply a string

Hello world

In [54]:
print("Hello world")

Hello world

In [55]:
Print("T") #Note that print isn't capitalized If you capitalize it, the program won’t run.

NameError: name 'Print' is not defined

# Chap 2 ---- Variables for string

In [ ]:
name = "Mark"
name

In [ ]:
_tooba = name
_tooba

In [ ]:
x,y,c='a','b',"c"
x,y,c

In [ ]:
_tooba ="a"
_tooba

In [ ]:
print(_tania ="0")

# chap 3 ------ Variables for Numbers

In [ ]:
a="a"
type(a)

In [ ]:
b=2
type(b)
b=2.000
type(b)

In [ ]:

v=2.000
type(v)

In [ ]:
b=v
print(type(b))
b

In [ ]:
age=25
w='75'
age+w  #sting and int can't add

In [ ]:
age=25
w='75'
str(age)+w #use str to convert int into string

In [ ]:
age=25
w='75'
age+int(w) #int to convert string into int

# chap 4 ------ Math expressions: Familiar operators

In [ ]:
l=2+2/2
l

In [ ]:
dozens = 3 * 12
dozens
type(dozens)

In [ ]:
marks = 0
a = 1 
b = 0
marks = a/b
print(marks)
print(int(marks))

# chap 5 ---- Variable Names Legal and Illegal

You've already learned three rules about naming a variable:
1. You can't enclose it in quotation marks.
2. You can't have any spaces in it.
3. It can't be a number or begin with a number

In [ ]:
and ='a'  #In addition, a variable can't be any of Python's reserved words, also known as keywords—the special words that act as programming instructions, like print
and

You don't need to memorize the list. If you accidentally try to use one of the
reserved words as a variable name, Python will refuse it and tell you that you've
made a syntax error. However, it won't specify that it's a variable-naming error,
so keep this list in mind.

In [ ]:
Rose="a"
rose

In [ ]:
a=23
b=34
a+b

# chap 6 ---- Math expressions: Unfamiliar operators

In [3]:
sum =9%3   # use for even
sum

0

In [1]:
sum =9%2 #use for odd

sum

1

In [2]:
call =12
call =call+13
call

25

In [8]:
call +=3 # use to increment
call

13.0

In [9]:
call -=5 # use to decrement 
call

8.0

In [20]:
call *=5 
call

15.0

In [11]:
call /=5 # use to decrement 
call

8.0

In [15]:
call %=5 # use to decrement 
call

3.0

# chap 7 ---- Math expressions: Eliminating ambiguity

Complex arithmetic expressions can pose a problem

In [21]:
r = ((2 * 4) * 4) + 2
r

34

In [23]:
l=1*(2+3)*1
l

5

In [17]:
n = (2 * 4) * (4 + 2)
n

48

# chap 8 ---- Concatenating text strings

Python displays HelloWorld
That's not quite what we want, so let's add some more concatenation…

In [35]:
 greeting = "Hello"
separators = ", "
addressee = a
 punc = "!"
 whole = greeting + separators + str( addressee) + punc
 print(whole)

Hello, 100!

In [19]:
w = "Hello" + separators + "World" + punc
w

'Hello, World!'

Exercise 
1. there are  100 students in class
2.
3

In [29]:
 a =100
a

100

In [42]:
print("there are ",a, "students in class")
print("there are {} students in class".format(a)) # type int hy rahygy

there are  100 students in class
there are 100 students in class

In [43]:
p ='i have a student's laptop' #it will show error beacuse of single ' # for this use ""
p

SyntaxError: invalid syntax (<ipython-input-43-a480999f854b>, line 1)

In [45]:
p ="i have a student's laptop"
p

"i have a student's laptop"

In [47]:
mangoes =10
apples =20
print(mangoes+apples)
print(" there are "+str(mangoes+apples)+" in the basket ")

print(" there are "str(mangoes+apples)" in the basket ") # no addition sign will give u error

30
 there are 30 in the basket

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Excercise completed

In [ ]:
print() # press shift+tab to see the discription of print
# will not show in googlecolab

In [24]:
print("The sum of 2 plus 2 is " + 4) # string ky sat int nahy husakta tu typecast karwana parhyga

TypeError: must be str, not int

You can use the plus sign to sum numbers, and you can use it to

concatenate strings. But you can't use the plus sign to combine strings and
numbers. If you write this code, you get an error message:

In [57]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

# chap 9 ---- if statements

In [61]:
species = "cat"
if species =="cat": 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.

# chap 10 --- Comparison operators

In [62]:
species = "cat"
if species !="cat": 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.

In [63]:
s1 = 4
if s1 <= 4: 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.
Yep, it's cat.

In [64]:
s1 = 4
if s1 <4: 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.

In [65]:
s1 = 4
if s1 >= 4: 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.
Yep, it's cat.

In [66]:
s1 = 4
if s1 >= 4: 
    print("Yep, it's cat.")
    if species == "cat": 
         print("Yep, it's cat.")
    
else:
    print("Yep, it's cat.")

Yep, it's cat.
Yep, it's cat.

# chap 10 ---- else and elif statements

In [67]:
 if species == "cat": 
    print("Yep, it's cat.") 
if species != "cat": 
    print("Nope, not cat.")

Yep, it's cat.

In [68]:
if species == "cat": 
    print("Yep, it's cat.") 
else:
    print("Nope, not cat.")

Yep, it's cat.

In [71]:
donut_condition = "fresh"
donut_price = "low"
if donut_condition == "fresh": 
    buy_score = 10 
elif donut_price == "low":
   buy_score = 5 
else: 
    buy_score = 0 
print(buy_score)

10

In [72]:
donut_condition = "fres"
donut_price = "low"
if donut_condition == "fresh": 
    buy_score = 10 
elif donut_price == "low":
   buy_score = 5 
else: 
    buy_score = 0 
print(buy_score)

5

In [73]:
donut_condition = "fres"
donut_price = "low"
if donut_condition == "fresh": 
    buy_score = 10 
elif donut_price == "lo": # use elif instead of else if
   buy_score = 5 
else: 
    buy_score = 0 
print(buy_score)

0

In [86]:
ticket ="yes"
age =19
if ticket == "yes":
    print(" you have a ticket")
    if age >= 18:
        print("you can watch")
        
else:
    print("sorry !")

 you have a ticket
you can watch

In [81]:
NIC ="real"
age =18
if NIC == "real":
    print(" you have a ticket")
    if age >= 18:
        print("you can vote")
        
else:
    print("sorry !")

 you have a ticket
you can vote